[Unit]
Description=Bindergen Service
After=network.target

[Service]
ExecStart=/bin/bash bindergen.sh
WorkingDirectory=/home/ubuntu/bindergen
StandardOutput=inherit
StandardError=inherit
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
